<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/siyaset">Siyaset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gundem">Gündem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/moda">Moda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ilişkiler">İlişkiler</a>
      </li>
    </ul>
  </nav>    